:root {
    --passive: #57647e;
    --error: #dc2626;
    --active: #2e69ff;
    --logo-color: #17375e;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-size: 16px;
    font-size: clamp(6px, 3dvw, 16px);
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f3f3fe;
}

a {
    color: inherit;
    text-decoration: none;
}

h3 {
    font-size: 0.9rem;
    font-weight: 500;
}

h2 {
    font-size: 1.125rem;
    font-weight: 500;
}

h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

button {
    cursor: pointer;
}

#input {
    position: relative;

    > input,
    > select {
        width: stretch;

        padding: 0.5rem;
        margin-top: 1.3rem;

        border: 1px solid var(--passive);
        border-radius: 4px;
    }

    > input:focus,
    > select:focus {
        border: 1px solid var(--active);
        outline: none;
    }

    > label {
        position: absolute;
        top: 0;
        left: 0;

        font-size: 0.8rem;
        color: var(--passive);
    }
}

span#red {
    color: var(--error);
}

.error {
    position: relative;

    width: 11.3rem;
    height: 2rem;

    padding: 1rem 3rem;
    margin: 1rem 0;

    display: none;

    background-color: var(--error);
    border-radius: 4px;

    > h3 {
        position: absolute;
        top: 0.5rem;
        left: 2.3rem;

        color: white;

        white-space: nowrap;
    }

    > img {
        position: absolute;
        left: 0.4rem;
        top: 0.3rem;

        height: 1.5rem;
        width: 1.5rem;

        filter: brightness(0) invert(1);
    }
}

#green-button {
    padding: 1rem 3rem;

    font-size: 1.1rem;
    color: white;

    background-color: #18bd5b;
    border: 0;
    border-radius: 4px;
}

#red-button {
    padding: 1rem 3rem;

    font-size: 1.1rem;
    color: white;

    background-color: var(--error);
    border: 0;
    border-radius: 4px;
}
